<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= type %> not found</title>

    <%- include('partials/bg_anim') %> <%- include('partials/scrollbar') %>
    <style>
      @font-face {
        font-family: "font";
        font-display: swap;
        src: url("/font.ttf");
      }

      * {
        font-family: "font";
      }

      body {
        background-color: #171c20;
        background-image: url("/bg.png");
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        height: 100dvh;
      }

      span {
        color: #e75a7c;
        font-size: 10dvh;
      }
    </style>
  </head>

  <body>
    <span> <%= type %> not found </span>
    <%- include('partials/footer') %>
  </body>
</html>
